
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_SignUpLayout.cshtml";
}


<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block">
                            <img src="~/Style/img/debby-hudson-asviIGR3CPE-unsplash.jpg" alt="" style="height:447px; width:480px;" />
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4  mb-4" style="color:orangered">Forgot Password!</h1>
                                </div>

                                <div class="form-group">
                                    @using (Html.BeginForm())
                                    {


                                            <div class="form-horizontal">
                                            <hr />
                                            <div class="text-center col-md-12">
                                                @if (ViewBag.status == true)
                                                {
                                                    <h4 class="text-success">@ViewBag.Message</h4>
                                                }
                                                else
                                                {
                                                    <h4 class="text-danger">@ViewBag.Message</h4>
                                                }

                                            </div>
                                            <label class="col-sm-6 col-form-label ">Email Address*</label>
                                            <div class="col-md-12">

                                                @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @placeholder = "Enter Your Email Address...." } })
                                                @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
                                            </div>
                                            <br />
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Send Link" class="btn btn-success" />
                                                </div>
                                            </div>
                                            <hr>
                                            
                                            <div class="text-center">
                                                
                                                <a class="large" href="@Url.Action("Login","Account")">Login Here...!</a>
                                            </div>

                                        </div>
                                    }
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>




