@model BookManager.Models.ResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_SignUpLayout.cshtml";
}

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block">
                            <img src="~/Style/img/element5-digital-OyCl7Y4y0Bk-unsplash.jpg" alt="" style="height:447px; width:480px;" />
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 mb-4" style="color:orangered">Update Password!</h1>
                                </div>

                                @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
                                {
                                    if (ViewBag.Message != null)
                                    {
                                        <div class="alert alert-success">
                                            <strong>Success!</strong>@ViewBag.Message
                                        </div>
                                    }
                                }
                                else
                                {
                                    using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()



                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { id = "id_password", @class = "form-control", @autocomplete = "off", @placeholder = "New Password Here..." } })
                                            <i class="far fa-eye fa-eye-slash" style=" cursor: pointer; float:right;" id="togglePassword"></i>
                                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">

                                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { id = "myInput1", @class = "form-control", @autocomplete = "off", @placeholder = "Confirm Password Here..." } })
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                        </div>


                                        <input type="submit" value="Update" class="btn btn-success btn-user btn-block" />

                                        <hr>

                                        <div class="text-center">

                                            <a class="small" href="@Url.Action("Login","Account")">Login Here...!</a>
                                        </div>




                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>




<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#id_password');

    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });
</script>
<style>
    i#togglePassword {
        margin-top: -27px;
        margin-right: 13px;
    }
</style>


