@model BookManager.Models.Book
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
<div class="container-fluid">
    <!-- Breadcrumbs-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">All Books</a>
        </li>

        <li class="breadcrumb-item active">Add New Book</li>


    </ol>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-book-open"></i>
            Add New Book

        </div>
        <div class="card-body">
            @using (Html.BeginForm("Create", "RunningBook", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })






                <div class="col-md-6">
                    <div class="form-group">

                        <div class="col-md-10">
                            <h4 style="color:red;">@TempData["msg"]</h4>
                            <h6 style="color:orangered">Please,Fill up all the '*' sections to Add New Book Detail...</h6>
                        </div>
                    </div>
                </div>





               



                <div class="col-md-6">
                    <div class="form-group">
                        @if (ViewBag.BookList != null)
                        {
                            <div class="col-md-10">
                                <h6>Select Book<span style="color: orangered">*</span></h6>
                                @Html.DropDownListFor(model => model.BookId, ViewBag.BookList as SelectList, "-- Select Book ---", new { @class = "form-control", @id = "bid" })
                            </div>
                        }
                    </div>
                </div>

             


                <div class="col-md-6">
                    <div class="form-group">

                        <div class="col-md-10">
                            <h6>Select Start Date<span style="color: orangered">*</span></h6>
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "datepicker form-control", @autocomplete = "off" } })
                            <i style="margin-inline-end:8px; margin-top:-28px;" class="fas fa-calendar-alt float-right"></i>
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>




                <div class="col-md-6">
                    <div class="col-md-10">
                        <a onclick="window.history.back();" class="btn btn-danger">Cancel</a>
                        <input type="submit" class="btn btn-success" value="Save" />

                    </div>
                </div>
            }



        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd-mm-yy",
                changeMonth: true,
                changeYear: true,
                /*yearRange: "-10:+10",*/

                minDate: new Date(2020, 00, 01)
            });
        });


        $(function () {
            $("#bid").chosen({
                disable_search_threshold: 2
            });
            $("#rid").chosen({
                disable_search_threshold: 2
            });
        });
    </script>

}
